#cloud-config
autoinstall:
  version: 1
  locale: en_US
  keyboard:
    layout: us
  ssh:
    install-server: yes
  user-data:
    users:
      {% for user in users %}
      - name: {{ user.name }}
        ssh-authorized-keys:
          - {{ user.ssh_public_key }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        groups: [sudo]
        lock-passwd: false
        shell: /bin/bash
      {% endfor %}
  packages:
    - qemu-guest-agent
    - cloud-init
    - openssh-server