#cloud-config
autoinstall:
  version: 1
  identity:
    hostname: ubuntu-20-04-template
  keyboard:
    layout: en
    variant: us
  locale: en_US
  network:
    version: 2
    ethernets:
      nics:
        match:
          name: en*
        dhcp4: true
  packages:
    - qemu-guest-agent
    - cloud-init
    - openssh-server
  ssh:
    install-server: yes
    allow-pw: true
  updates: all
  user-data:
    users:
      {% for user in users %}
      - name: {{ user.name }}
        ssh-authorized-keys:
          - {{ user.ssh_public_key }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        groups: [sudo]
        lock_passwd: true
        shell: /bin/bash
      {% endfor %}
